.default {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 24px 42px 24px 42px;
  box-sizing: border-box;
}

.complete-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 24px 42px 24px 42px;
  box-sizing: border-box;
  position: relative;
}

.buttons {
  margin-top: 24px;
}

.clear-button {
  margin-top: 24px;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.image-wrapper {
  width: 20px;
  height: 20px;
}

.list-item {
  display: flex;
}

.list-item-left {
  flex: 1;
  width: 100%;
}

.active-middle-line {
  text-decoration: line-through;
  color: rgb(126, 126, 126);
}

.list-item-right {}