.default {
  width: auto;
  height: auto;
  padding: 36px;
  margin-top: 24px;
}

.text-area {
  margin-left: 10px;
}

.title {
  margin: 0 0 6px 0;
  color: rgb(128, 128, 128);
}

.name {
  margin: 0 0 12px 0;
  color: rgb(227, 87, 81);
}

.date {
  color: rgb(160, 160, 160);
  margin-left: 2px;
}

.image-wrapper {
  width: 20px;
  height: 20px;
}

.menu-button {
  background: transparent;
  margin-left: -30px;
}

.menu-icon {
  width: 30px;
  height: 30px;
}