.default {
  width: auto;
  height: auto;
  padding: 36px;
  margin-top: 24px;
}

.title {
  margin: 0 0 6px 0;
  color: rgb(128, 128, 128);
}

.name {
  margin: 0 0 12px 0;
  color: rgb(227, 87, 81);
}

.date {
  color: rgb(160, 160, 160);
  margin-left: 2px;
}