body {
  display: flex;
  justify-content: center;
  background: #eeeeee;
  margin: 0;
}

p,
span,
input,
button,
textarea {
  font-family: 'Nanum Gothic', -apple-system;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}