.default {
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 100%;
}

.default input[type="checkbox"] {
  display: none;
}

.default p {
  font-size: 20px;
}

.default input[type="checkbox"]:checked+p {
  text-decoration-line: line-through;
  color: rgba(126, 126, 126, 0.3);
}